body {
  background: #000;
  color: antiquewhite;
}

.container {
  padding: 10px;
  margin: 10px;
  border: 2px solid red;
  border-radius: 10px;
  height: 100vh;
  width: 100vw;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

}

.box {
  padding: 10px;
  margin: 10px;
  border: 2px solid rgb(0, 119, 255);
  border-radius: 10px;
  height: 230px;
  width: 200px;
}
.top{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.center{
  padding: 0;
  margin: 5px;
}
.bottom{
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  
}